@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat, sans-serif";
}

:root {
  --primaryColor: hsl(14, 90%, 53%);
  --primaryColorLight: hsl(14, 96%, 91%);
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(14, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 94%);
  --cardColor: hsl(300, 3%, 94%);

  /*Font and Typography*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 2rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.Home {
  position: relative;
  height: 95vh;
  width: 100%;
  top: 0;

  .videoBg {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%; /* Adjust the height of the gradient */
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1)
      ); /* Adjust opacity here */
    }

    // -webkit-mask-image: -webkit-gradient(
    //   linear,
    //   left top,
    //   right bottom,
    //   from(rgba(0, 0, 0, 1)),
    //   to(rgba(0, 0, 0, 0.7))
    // );

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .sectionText {
    position: absolute;
    height: 100%;
    top: 30%;
    bottom: 50%;
    color: var(--whiteColor);
    padding: 0 1.3rem;

    h1 {
      font-size: var(--biggestFontSize);
      font-weight: 700;
      opacity: 0.8 !important;
    }

    p {
      padding: 1rem 0;
      font-size: var(--normalFontSize);
      font-weight: 500;
    }

    .btn {
      gap: 0.5rem;
      padding-left: 2rem;
      padding-right: 2rem;
      font-size: var(--h3FontSize);
    }
  }

  .popularPlaces {
    display: none;
  }
}

//media qureies

@media screen and (min-width: 400px) {
  .Home {
    .sectionText {
      padding: 0 2rem;
      justify-content: center;
      text-align: center;
      width: 100%;

      h1 {
        opacity: 0.7;
        font-size: var(--biggestFontSize);
        font-weight: 500;
      }

      p {
        padding: 1rem 0;
        font-size: var(--h2FontSize);
        max-width: 70%;
        margin: auto;
      }

      .btn {
        font-size: var(--h3FontSize);
        // max-width: 70%;
        margin: auto;
      }
    }
  }

  @media screen and (min-width: 769px) {
    .Home {
      .sectionText {
        width: 100%;

        h1 {
          font-size: 4rem;
          font-weight: 900;
          margin: auto;
        }

        p {
          padding: 1rem 0;
          font-size: var(--h2FontSize);
          max-width: 70%;
          margin: auto;
        }

        .btn {
          gap: 0.5rem;
          font-size: var(--h3FontSize);
          padding-right: 2rem;
          padding-left: 2rem;
          // max-width: 70%;
          margin: auto;
        }
      }
    }
  }

  @media screen and (min-width: 1040px) {
    .Home {
      position: relative;

      .popularPlaces {
        display: block;
        position: absolute;
        bottom: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
          h3 {
            color: var(--whiteColor);
            padding: 1rem 0;
            position: relative;
            &::after {
              content: "";
              width: 83%;
              height: 2px;
              background: rgb(202, 202, 202);
              right: 0;
              bottom: 50%;
              position: absolute;
            }
          }
        }

        .images {
          align-items: center;
          justify-content: center;
          gap: 2rem;
          opacity: 0.8;

          img {
            height: 100px;
            width: 210px;
            object-fit: cover;
            border-image-repeat: 10px;
            border-radius: 1rem;
          }
        }
      }
      .sectionText {
        width: 100%;

        h1 {
          font-size: 4.5rem;
          font-weight: 900;
          margin: auto;
          opacity: 0.8;
        }

        p {
          padding: 1rem 0;
          font-size: var(--h2FontSize);
          max-width: 70%;
          margin: auto;
        }
      }
    }
  }
}
